* {
	margin: 0;
}

:root {
	font-size: 16px;
	--primary-main-font: #000;
	--secondary-main-font: #18181b;
	--primary-accent-font: #7e839a;
	--secondary-accent-font: #c4c4c4;
}

body {
	font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	color: var(--primary-main-font);
}
